th{
	padding-bottom: 5px;
	text-decoration: underline;
}
tr{
	border-bottom: 1px solid;
}
table{
	outline-style: solid;
}
td {
	text-align: center;
}

/* Menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.btn-grn{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.btn-grn:hover {
  background-color: #4CAF50;
}